.container{
    max-width: 500 !important;
    margin:5% auto;
    margin-top: 4%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}
img{
    max-width: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.message-header{
    border: 1px solid #ccc;
    width: 60%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #075e54;
}
.message-header-img{
    border-radius: 50%;
    /* width: 40%; */
    margin-left: 10px;
    margin-top: 12px;
    float: left;
}
.active_state{
    width: 200px;
    float: left;
    margin-top: 12px;
}
.active_state h4{
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}
.active_state h6{
    font-size: 10px;
    margin-left: 10px;
    line-height: 2px;
    color: #fff;
}
.header-icons{
    width: 120px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}
.header-icons .fa{
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
#message-page-s,#message-page-r{
    padding: 0 0 50px 0;
    width: 60%;
    margin-top: -7px;
    height: 450px;
    border: 2px solid #075e54;
    overflow-x: hidden;
    overflow-y: scroll;
    background: url("download2.jpg");
}



.msg-bottom{
    position: relative;
    height: 90px;
    background-color: #075e54;
    width: 60%;

}
.input-group{
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 61% !important;
    background: #fff;
}
.form-control{
    border: none !important;
    border-radius: 20px !important;
}
.input-group-text{
    background: transparent !important;
    border: none !important;
}
.input-group .fa{
    color: #075e54;
    float: right;
}
.bottom-icons{
    float: left;
    margin-top: 28px;
    width: 30% !important;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
}
.bottom-icons .fa{
    color: #fff;
    padding: 5px;
}
.form-control:focus{
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 20px;
}

table{
    width: 2000px;
}



.receiver-page{
    margin-left: -150px;
} 

body{
    background:  url("download2.jpg");
    background-attachment: fixed;
    background-blend-mode: hard-light;

}

 .rmsgs,.smsgs{
     
background: #fff;
border-radius: 0px 5px 5px 5px;
float: left;
padding: 0 0 0 16px;
border-width: 0px 10px 10px 0;
border-color: transparent #fff transparent transparent;
top: 0;
left: -10px;
 }

 ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* ul li{
    display:inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica;
    font-weight: 100;
    line-height: 18px;
    font-size: 15px;
    color: #000;
    word-wrap: break-word
     background: white;
    float: left; 
  } */
 
  span {
    color: rgba(0, 0, 0, .45);
    font-size: 11px;
    display: inline-block;
    position: relative;
  } 
  /* #rhim,#shim{
    background: white;
    float: left;
  }
  
  #rme,#sme{
    float: right;
    background: #e1ffc7;
  }
  
  #rhim+#sme{
    border-bottom-right-radius: 5px;
  }
  #shim + #rme{
    border-bottom-right-radius: 5px;
  }
  
  #rme + #sme{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

 